<div class="title-logo"><h3 class="title">商品一覧</h3></div>


    <div class="item-index0">
      <% @items.each do |item|%>
      <div class="item-index">
        <p><%= image_tag item.get_image, size: "150x150" %></p>
        <p><%= link_to item.name, products_customer_path(item.id) %></p>
        <p>￥<%= item.price %></p>
      </div>
      <% end %>
    </div>
    
