
<h2>会員一覧</h2>

<table>
  <tr>
    <th>会員ID</th>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>ステータス</th>
  </tr>

  <tr>
    <% @customers.each do |customer| %>
      <td><%= customer.id %></td>
      <td><%= customer.last_name %><%= customer.first_name %></td>
      <td><%= customer.email %></td>
      <%#= customer.status %></td>
    <% end %>
  </tr>
</table>
<div class="title-logo"><h3 class="title">会員一覧</h3></div>
