<div class="title-logo"><h3 class="title">注文履歴一覧</h3></div>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col col-lg-3 border-top  border-3  text-center  bg-light text-dark"><h4>購入日時</h4></div>
    <div class="col col-lg-2 border-top   border-3 text-center  bg-light text-dark"><h4>購入者</h4></div>
    <div class="col col-lg-2 border-top  border-3 text-center  bg-light text-dark"><h4>注文個数</h4></div>
  </div>

     <% @orders.each do |order| %>
     <div class="row justify-content-md-center">
           <% total = 0 %>
           <div class="col col-lg-3 border-top   border-3 text-center  bg-light text-dark"><p class="text-decoration-underline "><%= link_to order.created_at,order_path(order.id) %></p></div>
           <div class="col col-lg-2 border-top  border-3 text-center  bg-light text-dark"><p><%= order.name %></p></div>
            <% order.order_details.each do |order_detail| %>
            <% total = total + order_detail.quantity %>
            <% end %>
           <div class="col col-lg-2 border-top  border-3 text-center  bg-light text-dark "><p><%= total %></p></div>







      </div>
          <% end %>

  </div>
</div>
