<h1>注文履歴11(管理者側)</h1>

<tr>
  <td>購入日時</td>
  <td>購入者</td>
  <td>注文個数</td>
  <td>注文ステータス</td>
</tr>

<% @order.each do |order| %>
  <%= link_to "order.created_at", order_path(order.id) %>
  <%= order.name %>
  <%= order.quantity %>
  <%= order.status %>
<% end %>



<h1>注文履歴16(ユーザー)</h1>
