<div class="top">
  <h1 class="top-logo">~ようこそ、ながのCAKEへ~</h1>

  <div class="topic">
    <h2 class="home-top">* ながのCAKE×ONEPIECE *</h2>
    <div class="spcial">
    <p class="home-top1">この度、ながのCAKEとONEPIECEがコラボいたしました!<br>
    <strong>期間限定での販売</strong>となりますので、ぜひご覧ください!</p>
    </div>
    </div>
</div>