.customer-login{
  width: 50%;
  margin:0 auto;
}

.customer-login2{
  background-color: rgba(0,0,0,0.1);
  display: inline-block;
  margin: 20px;
  padding: 6px;
}

.customer-login-title{
  margin: 30px;
}



