// Place all the styles related to the genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.genre-index{
  text-align: center;
}

.genre-index1{
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

.title-logo-genre{
  margin: 50px 0 50px 250px;
}

.genre-button{
  margin-left: 20px;
}

.genre-index2{
  text-align: center;
  width: 70%;
}

.genre-index3{
  text-align: center;
  margin: 0 auto;
  width: 1000px;
}

.genre-index4{
  width: 100%;
  padding-left: 250px;
}

.item-index{
  padding: 0 20px 10px 40px;
}

.item-index0{
  width: 80%;
  margin: 0 auto;
  display: flex;
}

