// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.about{
  width: 100%;
  text-align: center;
}

.about-title{
  height: 200px;
  line-height: 200px;
}

.about-content{
  font-size: 32px;
}

.topic{
  margin: 120px 80px;
  border: 1rem solid #00BFFF;
  display: inline-block;
}

.spcial{
  margin: 36px 50px;
  width: 420px;
}

.home-top{
  margin: 30px 72px;
}

.home-top1{
  margin-left: 12px;
}

.nav-item{
  margin-left: 60px;
}
