// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.order-title{
  border: 1px solid #FF5192;
  display: inline;
  padding: 8px;
  border-radius: 5px;
  margin: 12px;
}

.order{
  width: 60%;
  margin: 0 auto;
}

.order1{
  width: 100%;
  margin: 0 auto;
}

.order2{
  margin-left: 140px;
}

.order-address{
  margin-top: 30px;
}

.order-address1{
  margin: 20px 0;
}

.order-button{
  text-align: center;
}

.change-address{
  margin-left: 30px;
}