<h2>商品一覧</h2>


    <% @items.each do |item|%>

          <%= item.id%>

          <%= item.name%>

          <%= item.price %>

          <%#= item.genre_id %>

          <%#= item.is_active %>

    <% end %>

