<h1>商品詳細4（管理者側）</h1>
<p>Find me in app/views/products/show.html.erb</p>

<h1>商品詳細</h1>
  <tr>
    <td>商品名</td>
    <td><%= @item.name %></td>
    
    <td>商品説明</td>
    <td><%= @item.introduction %></td>
  
    <!--<td>税抜価格</td>-->
    <!--<td><%#= @item.price %></td>-->
  
  </tr>